@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<<div class="jumbotron">
    <h1>Car4Hire</h1>
    <p class="lead">Welcome to Australias Leading Car Rental Service</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Book a Service</h2>
        <p>
        </p>

    </div>
    <div class="col-md-4">
        <h2>View Bookings/Cancel Booking</h2>
        <p></p>

    </div>
</div>
body{
    background-image:<<C:\Users\swathy\source\repos\Car4Hire\Car4Hire\Images\great-ocean-road.jpg>>;}